---
import { BOXERS } from "@/consts/boxers";
import { COUNTRIES } from "@/consts/countries";
import Typography from "@/components/Typography.astro";

const listOfBoxers = BOXERS.map((boxer) => {
  const { country } = boxer;
  const countryName = COUNTRIES[country]?.name || "";
  return { ...boxer, countryName };
});
---

<section class="my-40">
  <div class="mt-40">
    <article class="flex w-full flex-col items-center justify-center relative">
      <header
        class="relative flex w-full flex-col items-center justify-center bg-center bg-no-repeat"
        style="background-image: url('/img/effects/boxer-background.png'); background-size: 75%;"
      >
        <img
          src="/img/boxers/el-mariana-big.webp"
          alt="Picture El Mariana"
          class="boxer-photo h-auto w-[480px]"
          style="filter: drop-shadow(0 0 10px rgba(0,0,0,1));"
        />
        <img
          src="/img/boxers/el-mariana-title.webp"
          alt="El Mariana title"
          class="boxer-title absolute bottom-14 h-auto w-[480px]"
        />
        <img
          src="/img/flags/mx.webp"
          alt="Mexico flag"
          class="boxer-flag h-auto w-24"
        />
      </header>
      <footer
        class="flex w-full justify-between absolute bottom-0 text-white text-center"
      >
        <div class="flex flex-col gap-y-2">
          <h4 class="text-lg">Country</h4>
          <p class="text-lg font-bold">Mexico</p>
          <a
            href="#"
            class="hover:scale-125 transition inline-block mt-10 font-semibold text-accent"
            >See combat</a
          >
        </div>
        <div class="flex flex-col gap-y-2">
          <h4 class="text-lg">Weight</h4>
          <p class="text-lg font-bold">61 kg</p>
          <a
            href="#"
            class="hover:scale-125 transition inline-block mt-10 font-semibold text-accent"
            >See profile</a
          >
        </div>
      </footer>
    </article>
  </div>

  <Typography
    as="h3"
    variant="stronger-title"
    color="white"
    class:list={"text-center"}
  >
    CHOOSE YOUR FIGHTER
  </Typography>

  <aside class="mt-44 grid gap-x-10 gap-y-4">
    {
      listOfBoxers.map(({ id, name, country, countryName }) => (
        <a
          target="_blank"
          rel="noopener noreferer"
          href={`/boxers/${id}`}
          title={`Visit the page of ${name} boxer`}
          class="boxer-link group relative flex h-20 justify-center items-center"
          data-id={id}
          data-name={name}
          data-country={country}
          data-country-name={countryName}
        >
          <img
            loading="lazy"
            src={`/img/boxers/${id}-small.webp`}
            alt={`Small boxer image of ${name}`}
            class="boxer-image w-full -mt-10 px-2 transition object-contain group-hover:scale-110"
          />
        </a>
      ))
    }
  </aside>
</section>
<script>
  const boxerLinks = document.querySelectorAll(".boxer-link");
  const boxerTitle = document.querySelector(".boxer-title") as HTMLImageElement;
  const boxerPhoto = document.querySelector(".boxer-photo") as HTMLImageElement;
  const boxerCountry = document.querySelector(
    ".boxer-flag"
  ) as HTMLImageElement;

  boxerLinks.forEach((link) => {
    link.addEventListener("mouseenter", (event) => {
      const { id, name, country, countryName } = event.currentTarget.dataset;

      const boxerSrc = `/img/boxers/${id}-big.webp`;
      const titleSrc = `/img/boxers/${id}-title.webp`;

      boxerTitle.src = titleSrc;
      boxerPhoto.src = boxerSrc;
      boxerCountry.src = `/img/flags/${country}.webp`;

      boxerPhoto.alt = `Picture of ${name}`;
      boxerTitle.alt = name;
      boxerCountry.alt = `Flag of ${countryName}`;
    });
  });
</script>

<style>
  .boxer-link {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1) 0%,
      transparent 40%,
      transparent 100%
    );
    transition: all 0.5s ease;
  }

  .boxer-link::before {
    content: "";
    position: absolute;
    inset: 0;
    display: block;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2) 0%,
      transparent 40%,
      transparent 100%
    );
    opacity: 0;
    height: 50%;
    transition:
      opacity 0.2s ease-in-out,
      height 0.2s ease-in-out;
  }

  .boxer-link:hover::before {
    opacity: 0.8;
    height: 90%;
    box-shadow: 0 0px 3px rgba(50, 50, 50, 0.75);
  }

  .boxer-image {
    transition: transform 0.3s ease-in-out;
  }

  .boxer-link:hover .boxer-image {
    transform: scale(1.1);
  }

  aside {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 80px;

    a {
      grid-column: span 2;

      &:nth-child(11n + 7) {
        grid-column-start: 2;
        grid-column-end: 4;
      }
    }
  }
</style>
